body{
    background-color: #0ECB5F;
    pointer-events:none
}

#home{
    float: left;
}

#error{
    float: right;
}

.wip{
    position: absolute;
    top: 80vh;
    bottom: 20vh;
    left: 30vw;
    right: 30vw;
}