body{
    background-color: #0ECB5F;
    pointer-events:none
}

#homegif{
    width: 35%;
    height: auto;
    float: left;
}

#errorgif{
    width: 35%;
    height: auto;
    float: right;
}

.wip{
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    top: 90%;
    width: 100%;
    text-align: center;
    pointer-events: none;
}