body{
    background-image: linear-gradient(to bottom, grey, lightgrey);
    font-family: Arial;
    margin: 0%;
    padding: 0%;
}

.pageContent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 800px){
    .pageContent{
        flex-direction: column;
    }
}

.gratitude{
    padding: 3%;
    flex: 1;
}

.donate{
    background: rgba(128, 128, 128, 0.500);
    flex: 1;
    border: 2px solid black;
    margin: 3%;
    padding: 2%;
}

input, select{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label{
    display: block;
    margin-bottom: 5px;
}

.collapsible{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover{
    background-color: #555;
}

.content{
    padding: 4px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.icon-container{
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.continuepay{
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.continuepay:hover{
    background-color: #45a049;
  }

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    display: none;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}