body{
    background-image: linear-gradient(to bottom, grey, lightgrey);
    font-family: Arial;
    margin: 0%;
    padding: 0%;
}

.navCont{
    background: rgba(128, 128, 128, 0.500);
    border-bottom: 2px solid whitesmoke;
}

.topNav{
    display: flex;
    justify-content: space-between;
    margin: 0% 2% 0% 2%;
}

#textLogo{
    color: whitesmoke;
    font-family: 'Brush Script MT';
    font-size: 250%;
    margin: 0%;
    padding: 0%;
}

.topnavBtns a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.topnavBtns a.active{
    background-color: lightblue;
    color: black;
    border: whitesmoke;
}

.topnavBtns a:hover{
    background-color: #ddd;
    color: black;
    border: whitesmoke;
}

.pageContent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 800px){
    .pageContent{
        flex-direction: column;
    }
}

.gratitude{
    padding: 3%;
    flex: 1;
}

.donate{
    background: rgba(128, 128, 128, 0.500);
    flex: 1;
    border: 2px solid black;
    margin: 3%;
    padding: 2%;
}

input, select{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label{
    display: block;
    margin-bottom: 5px;
}

.collapsible{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover{
    background-color: #555;
}

.content{
    padding: 4px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#continuepay{
    margin-top: 15px;
    padding: 12px;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    display: none;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}