body{
    background-color: #0E0B16;
    font-family: Arial;
    margin: 0%;
    padding: 0%;
}

.navCont{
    background-color: #A239CA;
}

.dropdown-content{
    background-color: #A239CA;
}

.pageContent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 800px){
    .pageContent{
        flex-direction: column;
    }
}

.gratitude{
    color: white;
    padding: 3%;
    flex: 1;
}

.donate{
    background: #E7DFDD;
    flex: 1;
    border: 3px dotted black;
    border-radius: 10px;
    margin: 3%;
    padding: 2%;
}

#donAmt{
    width: 50%;
}

input, select{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label{
    display: block;
    margin-bottom: 5px;
}

.collapsible{
    background-color: #A239CA;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover{
    background-color: grey;
}

.content{
    padding: 4px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.icon-container{
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.continuepay{
    background-color: #1417F6;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.continuepay:hover{
    background-color: #45a049;
}