body{
    background-color: #0ECB5F;
    background-image: linear-gradient(to right, #0ECB5F, #0ECB5F, #3bf023);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px){
    .container{
        flex-direction: column;
    }
}

.container > div{
    text-align: center;
    margin: 15px;
}

.logo{
    flex: 1;
}

.btns{
    flex: 1;
    padding: 10%;
}

img{
    width: 100%;
}

button{
    background-color: transparent;
    color: white;
    font-size: 80%;
    font-family:'Times New Roman', Times, serif;
    border-radius: 8px;
    transition-duration: 0.5s;
    width: 100%;
}

button:hover{
    background-color: #0ECB5F;
    color: black;
    transform: scale(1.2);
}

footer{
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 90%;
    width: 100%;
    text-align: center;
    pointer-events: none;
}